@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia1/Georgia.eot");
  src: url("../../assets/fonts/Georgia1/Georgia.eot") format("eot"), url("../../assets/fonts/Georgia1/Georgia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia1/Georgia-Bold.eot");
  src: url("../../assets/fonts/Georgia1/Georgia-Bold.eot") format("eot"), url("../../assets/fonts/Georgia1/Georgia-Bold.ttf") format("truetype"), url("../../assets/fonts/Georgia1/Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia1/Georgia-BoldItalic.eot");
  src: url("../../assets/fonts/Georgia1/Georgia-BoldItalic.eot") format("eot"), url("../../assets/fonts/Georgia1/Georgia-BoldItalic.ttf") format("truetype"), url("../../assets/fonts/Georgia1/Georgia-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia1/Georgia-Italic.eot");
  src: url("../../assets/fonts/Georgia1/Georgia-BoldItalic.eot") format("eot"), url("../../assets/fonts/Georgia1/Georgia-Italic.ttf") format("truetype"), url("../../assets/fonts/Georgia1/Georgia-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial1/Arial-BoldItalicMT.eot");
  src: url("../../assets/fonts/Arial1/Arial-BoldItalicMT.eot") format("eot"), url("../../assets/fonts/Arial1/Arial-BoldItalicMT.ttf") format("truetype"), url("../../assets/fonts/Arial1/Arial-BoldItalicMT.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial1/ArialMT.eot");
  src: url("../../assets/fonts/Arial1/ArialMT.eot") format("eot"), url("../../assets/fonts/Arial1/ArialMT.ttf") format("truetype"), url("../../assets/fonts/Arial1/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial1/Arial-BoldMT.eot");
  src: url("../../assets/fonts/Arial1/Arial-BoldMT.eot") format("eot"), url("../../assets/fonts/Arial1/Arial-BoldItalicMT.ttf") format("truetype"), url("../../assets/fonts/Arial1/Arial-BoldItalicMT.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial1/Arial-ItalicMT.eot");
  src: url("../../assets/fonts/Arial1/Arial-ItalicMT.ttf") format("eot"), url("../../assets/fonts/Arial1/Arial-ItalicMT.ttf") format("truetype"), url("../../assets/fonts/Arial1/Arial-ItalicMT.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
.pet-card {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  width: 270px;
}
.pet-card:hover {
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.pet-card img {
  width: 270px;
  height: 270px;
  border-radius: 9px 9px 0px 0px;
}
.pet-card p {
  margin: 30px 0;
  font-family: Georgia, Verdana, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}
.pet-card button {
  font-family: Georgia, Verdana, serif;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 400;
  color: #292929;
  border-radius: 100px;
  padding: 15px 45px;
  width: 187px;
  margin: 0 41.5px 30px;
  border: 2px solid #f1cdb3;
  background-color: transparent;
  white-space: nowrap;
  padding: 13px 43px;
}
.pet-card:hover > button {
  border-color: #fddcc4;
  background-color: #fddcc4;
  cursor: pointer;
}

main {
  margin: 0 auto;
  padding: 0 40px;
}
@media screen and (max-width: 1279px) {
  main {
    padding: 0 30px;
  }
}
@media screen and (max-width: 767px) {
  main {
    padding: 0 10px;
  }
}
main > div {
  margin: 80px 0 100px;
  text-align: center;
}
@media screen and (max-width: 1279px) {
  main > div {
    margin-bottom: 75px;
  }
}
@media screen and (max-width: 767px) {
  main > div {
    margin: 42px 0;
  }
}
main > div h3 {
  font-family: Georgia, Verdana, serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 400;
  color: #545454;
}
@media screen and (max-width: 767px) {
  main > div h3 {
    font-family: Georgia, Verdana, serif;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
  }
}
main > div .pet-container {
  margin: 60px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px 40px;
}
@media screen and (max-width: 1279px) {
  main > div .pet-container {
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 30px 64px 40px;
  }
}
@media screen and (max-width: 767px) {
  main > div .pet-container {
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 30px;
    margin: 41px 15px;
  }
}
@media screen and (max-width: 1279px) {
  main > div .pet-container > div:nth-last-child(1), main > div .pet-container > div:nth-last-child(2) {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  main > div .pet-container > div:nth-last-child(3), main > div .pet-container > div:nth-last-child(4), main > div .pet-container > div:nth-last-child(5) {
    display: none;
  }
}
main > div .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
main > div .pagination .button-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  padding: 23px 19px;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #292929;
  border: 2px solid #f1cdb3;
  margin: 0 10px;
  font-family: Georgia, Verdana, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  background-color: inherit;
}
@media screen and (max-width: 767px) {
  main > div .pagination .button-pagination {
    margin: 0 5px;
  }
}
main > div .pagination .page {
  background-color: #f1cdb3;
}
main > div .pagination .disabled {
  border-color: #cdcdcd;
  color: #cdcdcd;
}
main > div .pagination .active:hover {
  border-color: #fddcc4;
  background-color: #fddcc4;
  cursor: pointer;
}

footer > div {
  background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(at left, #513d2f, #1a1a1c);
  padding: 40px 40px 0;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1279px) {
  footer > div {
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 30px 0;
  }
}
@media screen and (max-width: 767px) {
  footer > div {
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 29px 10px 0;
    text-align: center;
    align-items: center;
  }
}
footer > div .contacts,
footer > div .locations {
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 16px 0 60px;
}
@media screen and (max-width: 1279px) {
  footer > div .contacts,
footer > div .locations {
    margin: 0 30px 65px;
  }
}
@media screen and (max-width: 767px) {
  footer > div .contacts,
footer > div .locations {
    margin: 0;
    margin-bottom: 40px;
    height: fit-content;
    width: 300px;
  }
}
footer > div .contacts h3,
footer > div .locations h3 {
  font-family: Georgia, Verdana, serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 400;
  color: #fff;
}
@media screen and (max-width: 767px) {
  footer > div .contacts h3 br,
footer > div .locations h3 br {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  footer > div .contacts h3,
footer > div .locations h3 {
    font-family: Georgia, Verdana, serif;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    justify-content: center;
    padding: 0 15px;
  }
}
footer > div .contacts div a,
footer > div .locations div a {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1279px) {
  footer > div .contacts div a,
footer > div .locations div a {
    padding-top: 33px;
  }
}
@media screen and (max-width: 767px) {
  footer > div .contacts div a,
footer > div .locations div a {
    justify-content: center;
    padding-top: 40px;
  }
}
footer > div .contacts div a img,
footer > div .locations div a img {
  width: 40px;
}
footer > div .contacts div a h4,
footer > div .locations div a h4 {
  font-family: Georgia, Verdana, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  padding-left: 20px;
  align-self: center;
}
footer > div .contacts .boston a img,
footer > div .contacts .london a img,
footer > div .locations .boston a img,
footer > div .locations .london a img {
  width: 22px;
  height: 32px;
}
@media screen and (max-width: 767px) {
  footer > div .contacts .boston,
footer > div .contacts .london,
footer > div .locations .boston,
footer > div .locations .london {
    text-align: start;
    align-self: flex-start;
  }
}
footer > div > img {
  width: 300px;
  height: 310px;
}
@media screen and (max-width: 767px) {
  footer > div > img {
    width: 260px;
    height: 269px;
  }
}

header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 60px 40px 0;
}
@media screen and (max-width: 1279px) {
  header {
    padding: 30px 30px 0;
  }
}
@media screen and (max-width: 767px) {
  header {
    padding: 30px 10px 0;
  }
}
header .logo .title {
  font-family: Georgia, Verdana, serif;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 400;
  color: #f1cdb3;
  vertical-align: middle;
}
header .logo .subtitle {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  vertical-align: center;
  padding-top: 10px;
  padding-left: 4px;
}
header .menu-icon {
  display: none;
}
@media screen and (max-width: 767px) {
  header .menu-icon {
    display: block;
    height: 22px;
    width: 30px;
    margin-right: 43px;
    background: linear-gradient(to bottom, #f1cdb3 0%, #f1cdb3 9%, transparent 9%, transparent 45.5%, #f1cdb3 45.5%, #f1cdb3 54.5%, transparent 54.5%, transparent 91%, #f1cdb3 91%, #f1cdb3 100%);
  }
}
header .nav-menu {
  width: 443px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  header .nav-menu {
    display: none;
  }
}
header .nav-menu ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header .nav-menu ul li a {
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 160%;
  font-style: normal;
  font-weight: normal;
  color: #4c4c4c;
  color: #cdcdcd;
}
header .nav-menu ul li a:hover {
  color: #fafafa;
  cursor: pointer;
}
header .nav-menu ul li .current-link {
  color: #fafafa;
  position: relative;
}
header .nav-menu ul li .current-link:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #f1cdb3;
}
@media screen and (max-width: 767px) {
  header .nav-menu {
    display: none;
  }
}

* {
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  width: 1280px;
  margin: auto;
}
@media screen and (max-width: 1279px) {
  .wrapper {
    width: 100%;
  }
}

body {
  background-color: #f6f6f6;
}

header {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  position: sticky;
}
@media screen and (max-width: 767px) {
  header {
    padding: 30px 10px;
  }
}
@media screen and (max-width: 767px) {
  header .menu-icon {
    background: linear-gradient(to bottom, #000 0%, #000 9%, transparent 9%, transparent 45.5%, #000 45.5%, #000 54.5%, transparent 54.5%, transparent 91%, #000 91%, #000 100%);
  }
}
header .logo .title,
header .logo .subtitle {
  color: #545454;
}
header .nav-menu ul li a {
  color: #545454;
}
header .nav-menu ul li a:hover {
  color: #292929;
}
header .nav-menu ul li .current-link {
  color: #545454;
}

/*# sourceMappingURL=pets.css.map */
