footer {
  background: url('../../assets/images/noise_transparent@2x.png'),
    radial-gradient(at left, #513d2f, #1a1a1c);
  & > div {
    padding: 40px $padding 0;
    display: flex;
    justify-content: space-between;
    & > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 60px;
      h3 {
        @include h3();
        color: $color-light-xl;
      }
      div {
        a {
          display: flex;
          img {
            width: 40px;
            height: 32px;
          }
          h4 {
            @include h4();
            color: $color-primary;
            padding-left: 20px;
            align-self: center;
          }
        }
      }
    }
    & > img {
      width: 300px;
      height: 310px;
    }
  }
}
