header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 60px 40px 0px 40px;
}

header {
  .logo {
    .title {
      @include logo_title();
      color: $color-primary;
      vertical-align: middle;
    }
    .subtitle {
      @include logo_subtitle();
      color: $color-light-xl;
      vertical-align: center;
      padding-top: 10px;
      padding-left: 4px;
    }
  }
  .nav-menu {
    width: 443px;
    display: flex;
    align-items: center;
    ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      li {
        a {
          color: $color-dark-s;
        }
      }
    }
  }
}
