* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  &.active-menu {
    overflow-y: hidden;
  }
  &.opened-popup {
    overflow-y: hidden;
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(41, 41, 41, 0.6);
  z-index: 9;
}

body.active-menu .overlay,
body.opened-popup .overlay {
  background-color: rgba(41, 41, 41, 0.6);
  display: block;
}

.wrapper {
  position: relative;
  width: 1280px;
  margin: auto;
  @media screen and (max-width: 1279px) {
    width: 100%;
  }
}
