@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia1/Georgia.eot");
  src: url("../../assets/fonts/Georgia1/Georgia.eot") format("eot"), url("../../assets/fonts/Georgia1/Georgia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia1/Georgia-Bold.eot");
  src: url("../../assets/fonts/Georgia1/Georgia-Bold.eot") format("eot"), url("../../assets/fonts/Georgia1/Georgia-Bold.ttf") format("truetype"), url("../../assets/fonts/Georgia1/Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia1/Georgia-BoldItalic.eot");
  src: url("../../assets/fonts/Georgia1/Georgia-BoldItalic.eot") format("eot"), url("../../assets/fonts/Georgia1/Georgia-BoldItalic.ttf") format("truetype"), url("../../assets/fonts/Georgia1/Georgia-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia1/Georgia-Italic.eot");
  src: url("../../assets/fonts/Georgia1/Georgia-BoldItalic.eot") format("eot"), url("../../assets/fonts/Georgia1/Georgia-Italic.ttf") format("truetype"), url("../../assets/fonts/Georgia1/Georgia-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial1/Arial-BoldItalicMT.eot");
  src: url("../../assets/fonts/Arial1/Arial-BoldItalicMT.eot") format("eot"), url("../../assets/fonts/Arial1/Arial-BoldItalicMT.ttf") format("truetype"), url("../../assets/fonts/Arial1/Arial-BoldItalicMT.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial1/ArialMT.eot");
  src: url("../../assets/fonts/Arial1/ArialMT.eot") format("eot"), url("../../assets/fonts/Arial1/ArialMT.ttf") format("truetype"), url("../../assets/fonts/Arial1/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial1/Arial-BoldMT.eot");
  src: url("../../assets/fonts/Arial1/Arial-BoldMT.eot") format("eot"), url("../../assets/fonts/Arial1/Arial-BoldItalicMT.ttf") format("truetype"), url("../../assets/fonts/Arial1/Arial-BoldItalicMT.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial1/Arial-ItalicMT.eot");
  src: url("../../assets/fonts/Arial1/Arial-ItalicMT.ttf") format("eot"), url("../../assets/fonts/Arial1/Arial-ItalicMT.ttf") format("truetype"), url("../../assets/fonts/Arial1/Arial-ItalicMT.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
.start-screen {
  background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(at top left, #5b483a, #262425);
}
.start-screen div {
  padding: 180px 40px 0;
  display: flex;
}
.start-screen div .content {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: 0;
  margin-top: 163px;
  margin-right: 42px;
}
.start-screen div .content h2 {
  font-family: "Georgia";
  font-size: 44px;
  line-height: 130%;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  padding-right: 150px;
}
.start-screen div .content p {
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 160%;
  font-style: normal;
  font-weight: normal;
  color: #cdcdcd;
  margin: 42px 0;
}
.start-screen div .content a[type=button] {
  display: inline-block;
  font-family: Georgia, Verdana, serif;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 400;
  color: #292929;
  border-radius: 100px;
  padding: 15px 45px;
  background-color: #f1cdb3;
  align-self: flex-start;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.start-screen div .content a[type=button]:hover {
  background-color: #fddcc4;
  cursor: pointer;
}
.start-screen div img {
  height: 100%;
}

.about {
  background-color: white;
}
.about > div {
  padding: 80px 40px 101px;
  display: flex;
  justify-content: center;
}
.about > div img {
  width: 300px;
  height: 408px;
}
.about > div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 430px;
  margin-left: 120px;
}
.about > div div h3 {
  font-family: Georgia, Verdana, serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 400;
  color: #545454;
}
.about > div div p {
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 160%;
  font-style: normal;
  font-weight: normal;
  color: #4c4c4c;
  margin-top: 25px;
}

.pet-card {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  margin: 0 45px;
}
.pet-card:hover {
  background-color: #fff;
  cursor: pointer;
}
.pet-card img {
  width: 270px;
  height: 270px;
  border-radius: 9px 9px 0px 0px;
}
.pet-card p {
  margin: 30px 0;
  font-family: Georgia, Verdana, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}
.pet-card button {
  font-family: Georgia, Verdana, serif;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 400;
  color: #292929;
  border-radius: 100px;
  padding: 15px 45px;
  margin: 0 41.5px 30px;
  border: 2px solid #f1cdb3;
  background-color: transparent;
  white-space: nowrap;
  padding: 13px 43px;
}
.pet-card:hover > button {
  border-color: #fddcc4;
  background-color: #fddcc4;
  cursor: pointer;
}

.pets {
  font-family: Georgia, Verdana, serif;
  background-color: #f6f6f6;
}
.pets > div {
  padding: 80px 40px 0;
  text-align: center;
}
.pets > div h3 {
  font-family: Georgia, Verdana, serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 400;
  color: #545454;
}
.pets > div > div {
  margin: 60px 0;
  display: flex;
}
.pets > div > div .button-arrow {
  border-radius: 100px;
  padding: 23px 19px;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #292929;
  border: 2px solid #f1cdb3;
  align-self: center;
}
.pets > div > div .button-arrow:hover {
  border-color: #fddcc4;
  background-color: #fddcc4;
  cursor: pointer;
}
.pets > div > div .right {
  margin-right: 8px;
}
.pets > div > div .left {
  margin-left: 8px;
}
.pets > div a[type=button] {
  display: inline-block;
  font-family: Georgia, Verdana, serif;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 400;
  color: #292929;
  border-radius: 100px;
  padding: 15px 45px;
  background-color: #f1cdb3;
  margin-bottom: 100px;
}
.pets > div a[type=button]:hover {
  background-color: #fddcc4;
  cursor: pointer;
}

.help {
  background-color: white;
}
.help .help-content {
  padding: 80px 40px 45px;
}
.help .help-content h3 {
  font-family: Georgia, Verdana, serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #545454;
}
.help .help-content ul {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.help .help-content ul li {
  margin: 0 60px 55px;
}
.help .help-content ul li img {
  width: 60px;
  height: 60px;
}
.help .help-content ul li h4 {
  font-family: Georgia, Verdana, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  padding-top: 26px;
}

.donations {
  background-color: #f6f6f6;
}
.donations .donations-content {
  padding: 80px 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.donations .donations-content > img {
  width: 505px;
  height: 261px;
}
.donations .donations-content > div {
  width: 380px;
  margin-left: 30px;
}
.donations .donations-content > div h5 {
  font-family: Georgia, Verdana, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  padding: 20px 0;
}
.donations .donations-content > div h3 {
  font-family: Georgia, Verdana, serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 400;
  color: #545454;
}
.donations .donations-content > div div {
  background-color: #f1cdb3;
  border-radius: 9px;
  padding: 10px 15px;
  display: flex;
  width: fit-content;
}
.donations .donations-content > div div:hover {
  background-color: #fddcc4;
  cursor: pointer;
}
.donations .donations-content > div div img {
  width: 30px;
  height: 23px;
}
.donations .donations-content > div div h4 a {
  font-family: Georgia, Verdana, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  padding-left: 15px;
  display: inline-block;
}
.donations .donations-content > div div h4 a a {
  color: inherit;
}
.donations .donations-content > div p {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
  margin-top: 20px;
}

footer {
  background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(at left, #513d2f, #1a1a1c);
}
footer > div {
  padding: 40px 40px 0;
  display: flex;
  justify-content: space-between;
}
footer > div > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 16px 0 60px;
}
footer > div > div h3 {
  font-family: Georgia, Verdana, serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 400;
  color: #fff;
}
footer > div > div div a {
  display: flex;
  align-items: center;
}
footer > div > div div a img {
  width: 40px;
  height: 32px;
}
footer > div > div div a h4 {
  font-family: Georgia, Verdana, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  padding-left: 20px;
  align-self: center;
}
footer > div > div .boston a img,
footer > div > div .london a img {
  width: 22px;
  height: 32px;
}
footer > div > img {
  width: 300px;
  height: 310px;
}

header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-between;
  width: 100%;
  padding: 60px 40px 0px;
}
header .logo .title {
  font-family: Georgia, Verdana, serif;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 400;
  color: #f1cdb3;
  vertical-align: middle;
}
header .logo .subtitle {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  vertical-align: center;
  padding-top: 10px;
  padding-left: 4px;
}
header .nav-menu {
  width: 443px;
  display: flex;
  align-items: center;
}
header .nav-menu ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header .nav-menu ul li a {
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 160%;
  font-style: normal;
  font-weight: normal;
  color: #cdcdcd;
}
header .nav-menu ul li a:hover {
  color: #fafafa;
  cursor: pointer;
}
header .nav-menu ul li .current-link {
  color: #fafafa;
  position: relative;
}
header .nav-menu ul li .current-link:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #f1cdb3;
}

.wrapper {
  position: relative;
  width: 1280px;
  margin: auto;
}

body {
  background-color: #5b483a;
}

/*# sourceMappingURL=main.css.map */
