@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia1/Georgia.eot");
  src: url("../../assets/fonts/Georgia1/Georgia.eot") format("eot"), url("../../assets/fonts/Georgia1/Georgia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia1/Georgia-Bold.eot");
  src: url("../../assets/fonts/Georgia1/Georgia-Bold.eot") format("eot"), url("../../assets/fonts/Georgia1/Georgia-Bold.ttf") format("truetype"), url("../../assets/fonts/Georgia1/Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia1/Georgia-BoldItalic.eot");
  src: url("../../assets/fonts/Georgia1/Georgia-BoldItalic.eot") format("eot"), url("../../assets/fonts/Georgia1/Georgia-BoldItalic.ttf") format("truetype"), url("../../assets/fonts/Georgia1/Georgia-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia1/Georgia-Italic.eot");
  src: url("../../assets/fonts/Georgia1/Georgia-BoldItalic.eot") format("eot"), url("../../assets/fonts/Georgia1/Georgia-Italic.ttf") format("truetype"), url("../../assets/fonts/Georgia1/Georgia-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial1/Arial-BoldItalicMT.eot");
  src: url("../../assets/fonts/Arial1/Arial-BoldItalicMT.eot") format("eot"), url("../../assets/fonts/Arial1/Arial-BoldItalicMT.ttf") format("truetype"), url("../../assets/fonts/Arial1/Arial-BoldItalicMT.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial1/ArialMT.eot");
  src: url("../../assets/fonts/Arial1/ArialMT.eot") format("eot"), url("../../assets/fonts/Arial1/ArialMT.ttf") format("truetype"), url("../../assets/fonts/Arial1/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial1/Arial-BoldMT.eot");
  src: url("../../assets/fonts/Arial1/Arial-BoldMT.eot") format("eot"), url("../../assets/fonts/Arial1/Arial-BoldItalicMT.ttf") format("truetype"), url("../../assets/fonts/Arial1/Arial-BoldItalicMT.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial1/Arial-ItalicMT.eot");
  src: url("../../assets/fonts/Arial1/Arial-ItalicMT.ttf") format("eot"), url("../../assets/fonts/Arial1/Arial-ItalicMT.ttf") format("truetype"), url("../../assets/fonts/Arial1/Arial-ItalicMT.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
.start-screen {
  background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(at top left, #5b483a, #262425);
}
.start-screen div {
  padding: 180px 40px 0;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1279px) {
  .start-screen div {
    padding: 150px 30px 0;
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .start-screen div {
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
  }
}
.start-screen div .content {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: 0;
  margin-top: 163px;
  width: 460px;
  align-self: flex-start;
}
@media screen and (max-width: 1279px) {
  .start-screen div .content {
    margin-top: 0;
    align-self: center;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .start-screen div .content {
    width: 100%;
  }
}
.start-screen div .content h2 {
  font-family: "Georgia";
  font-size: 44px;
  line-height: 130%;
  font-style: normal;
  font-weight: 400;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .start-screen div .content h2 {
    font-family: Georgia, Verdana, serif;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
  }
}
.start-screen div .content p {
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 160%;
  font-style: normal;
  font-weight: normal;
  color: #4c4c4c;
  color: #cdcdcd;
  margin: 42px 0;
}
.start-screen div .content a[type=button] {
  display: inline-block;
  font-family: Georgia, Verdana, serif;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 400;
  color: #292929;
  border-radius: 100px;
  padding: 15px 45px;
  background-color: #f1cdb3;
  align-self: flex-start;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.start-screen div .content a[type=button]:hover {
  background-color: #fddcc4;
  cursor: pointer;
}
@media screen and (max-width: 1279px) {
  .start-screen div .content a[type=button] {
    align-self: center;
  }
}
.start-screen div img {
  width: 698px;
  height: 728px;
  margin-left: 42px;
}
@media screen and (max-width: 1279px) {
  .start-screen div img {
    width: 569px;
    height: 593px;
    align-self: flex-end;
    margin: 0;
    margin-top: 99px;
  }
}
@media screen and (max-width: 767px) {
  .start-screen div img {
    width: 260px;
    height: 271.77px;
    margin-top: 104px;
  }
}

.about {
  background-color: white;
}
.about > div {
  padding: 80px 40px 100px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1279px) {
  .about > div {
    padding-right: 30px;
    padding-left: 30px;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .about > div {
    padding: 42px 10px 42px;
  }
}
.about > div img {
  width: 300px;
  height: 408px;
}
@media screen and (max-width: 1279px) {
  .about > div img {
    order: 1;
  }
}
@media screen and (max-width: 767px) {
  .about > div img {
    width: 260px;
    height: 353.6px;
  }
}
.about > div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 430px;
  margin-left: 120px;
}
@media screen and (max-width: 1279px) {
  .about > div div {
    margin: 0;
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 767px) {
  .about > div div {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 42px;
  }
}
.about > div div h3 {
  font-family: Georgia, Verdana, serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 400;
  color: #545454;
}
@media screen and (max-width: 767px) {
  .about > div div h3 {
    text-align: center;
    font-family: Georgia, Verdana, serif;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
  }
}
.about > div div p {
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 160%;
  font-style: normal;
  font-weight: normal;
  color: #4c4c4c;
  color: #4c4c4c;
  margin-top: 25px;
}
@media screen and (max-width: 767px) {
  .about > div div p {
    text-align: justify;
    margin-top: 22px;
  }
}

.pet-card {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  width: 270px;
}
.pet-card:hover {
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.pet-card img {
  width: 270px;
  height: 270px;
  border-radius: 9px 9px 0px 0px;
}
.pet-card p {
  margin: 30px 0;
  font-family: Georgia, Verdana, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}
.pet-card button {
  font-family: Georgia, Verdana, serif;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 400;
  color: #292929;
  border-radius: 100px;
  padding: 15px 45px;
  width: 187px;
  margin: 0 41.5px 30px;
  border: 2px solid #f1cdb3;
  background-color: transparent;
  white-space: nowrap;
  padding: 13px 43px;
}
.pet-card:hover > button {
  border-color: #fddcc4;
  background-color: #fddcc4;
  cursor: pointer;
}

.pets {
  font-family: Georgia, Verdana, serif;
  background-color: #f6f6f6;
}
.pets > div {
  padding: 80px 40px 100px;
  text-align: center;
}
@media screen and (max-width: 1279px) {
  .pets > div {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 767px) {
  .pets > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 42px;
    padding: 42px 10px;
  }
}
.pets > div h3 {
  font-family: Georgia, Verdana, serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 400;
  color: #545454;
}
@media screen and (max-width: 767px) {
  .pets > div h3 {
    font-family: Georgia, Verdana, serif;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
  }
}
.pets > div > div {
  margin: 60px 0;
  display: flex;
}
@media screen and (max-width: 1279px) {
  .pets > div > div {
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .pets > div > div {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }
}
.pets > div > div .button-arrow {
  border-radius: 100px;
  padding: 23px 19px;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #292929;
  border: 2px solid #f1cdb3;
  align-self: center;
  background-color: transparent;
}
.pets > div > div .button-arrow:hover {
  border-color: #fddcc4;
  background-color: #fddcc4;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .pets > div > div .button-arrow {
    margin: 20px 40px 0;
  }
}
.pets > div > div .pet-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 90px;
  margin: 0 53px;
}
@media screen and (max-width: 1279px) {
  .pets > div > div .pet-container {
    margin: 0 12px;
    column-gap: 40px;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 767px) {
  .pets > div > div .pet-container {
    display: grid;
    grid-template-columns: 90vw;
    justify-items: center;
    order: -1;
    margin: 0;
  }
}
@media screen and (max-width: 1279px) {
  .pets > div > div .pet-container #woody {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .pets > div > div .pet-container #jennifer {
    display: none;
  }
}
.pets > div a[type=button] {
  display: inline-block;
  font-family: Georgia, Verdana, serif;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 400;
  color: #292929;
  border-radius: 100px;
  padding: 15px 45px;
  background-color: #f1cdb3;
  width: 260px;
  white-space: nowrap;
}
.pets > div a[type=button]:hover {
  background-color: #fddcc4;
  cursor: pointer;
}

.help {
  background-color: white;
}
.help .help-content {
  padding: 80px 40px 100px;
}
@media screen and (max-width: 1279px) {
  .help .help-content {
    padding: 80px 30px 100px;
  }
}
@media screen and (max-width: 767px) {
  .help .help-content {
    padding: 42px 10px 43px;
  }
}
.help .help-content h3 {
  font-family: Georgia, Verdana, serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #545454;
}
@media screen and (max-width: 767px) {
  .help .help-content h3 {
    font-family: Georgia, Verdana, serif;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
  }
}
.help .help-content ul {
  margin-top: 59px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  row-gap: 55px;
}
@media screen and (max-width: 1279px) {
  .help .help-content ul {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 55px 60px;
    margin-right: 39px;
    margin-left: 39px;
  }
}
@media screen and (max-width: 767px) {
  .help .help-content ul {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 42px 0 0;
  }
}
.help .help-content ul li {
  margin: 0 60px;
}
@media screen and (max-width: 1279px) {
  .help .help-content ul li {
    width: 170px;
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  .help .help-content ul li {
    width: 130px;
  }
}
.help .help-content ul li img {
  width: 60px;
  height: 60px;
}
@media screen and (max-width: 767px) {
  .help .help-content ul li img {
    width: 50px;
    height: 50px;
  }
}
.help .help-content ul li h4 {
  font-family: Georgia, Verdana, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  padding-top: 26px;
}
@media screen and (max-width: 767px) {
  .help .help-content ul li h4 {
    font-family: Georgia, Verdana, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    padding-top: 16px;
  }
}

.donations {
  background-color: #f6f6f6;
}
.donations .donations-content {
  padding: 80px 0 99px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1279px) {
  .donations .donations-content {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .donations .donations-content {
    padding: 42px 10px;
  }
}
.donations .donations-content > img {
  width: 505px;
}
@media screen and (max-width: 1279px) {
  .donations .donations-content > img {
    order: 1;
  }
}
@media screen and (max-width: 767px) {
  .donations .donations-content > img {
    width: 260px;
  }
}
.donations .donations-content > div {
  width: 380px;
  margin-left: 30px;
}
@media screen and (max-width: 1279px) {
  .donations .donations-content > div {
    margin: 0;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .donations .donations-content > div {
    margin-bottom: 42px;
    width: 100%;
  }
}
.donations .donations-content > div h5 {
  font-family: Georgia, Verdana, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  padding: 20px 0;
}
@media screen and (max-width: 767px) {
  .donations .donations-content > div h5 {
    text-align: center;
    letter-spacing: 0;
    line-height: 160%;
  }
}
.donations .donations-content > div h3 {
  font-family: Georgia, Verdana, serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 400;
  color: #545454;
}
@media screen and (max-width: 767px) {
  .donations .donations-content > div h3 {
    font-family: Georgia, Verdana, serif;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
  }
}
.donations .donations-content > div div {
  background-color: #f1cdb3;
  border-radius: 9px;
  padding: 10px 15px;
  display: flex;
  width: fit-content;
}
.donations .donations-content > div div:hover {
  background-color: #fddcc4;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .donations .donations-content > div div {
    margin: 0 auto;
  }
}
.donations .donations-content > div div img {
  width: 30px;
  height: 23px;
}
.donations .donations-content > div div h4 a {
  font-family: Georgia, Verdana, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  padding-left: 15px;
  display: inline-block;
}
.donations .donations-content > div div h4 a a {
  color: inherit;
}
@media screen and (max-width: 767px) {
  .donations .donations-content > div div h4 a {
    font-size: 15px;
  }
}
.donations .donations-content > div p {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .donations .donations-content > div p {
    text-align: justify;
    padding: 0 10px;
  }
}

.closeBtn {
  width: 52px;
  height: 52px;
  background: transparent;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.closeBtn::after {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url("../../assets/icons/closeBtn.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.closeBtn:hover {
  background: #fddcc4;
}

.content .content__title {
  font-family: Georgia, Verdana, serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 10px;
}
.content .content__subtitle {
  font-family: Georgia, Verdana, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  margin-bottom: 40px;
}
.content .content__descr {
  font-family: Georgia, Verdana, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-bottom: 40px;
}
.content .content__list-item {
  font-family: Georgia, Verdana, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  position: relative;
  padding-left: 14px;
  margin-bottom: 11px;
}
.content .content__list-item span {
  font-weight: bold;
}
.content .content__list-item::before {
  content: "";
  position: absolute;
  background-color: #f1cdb3;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.popup {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 900px;
  min-height: 500px;
  overflow-y: scroll;
  justify-content: space-between;
  background-color: #fafafa;
  border-radius: 9px;
  display: none;
  overflow: visible;
}
.popup.opened-popup {
  display: block;
  animation: 0.5s ease-out appear forwards;
}
.popup.animated {
  animation: 0.5s ease-out disappear forwards;
}
.popup .popup__closeBtn {
  position: absolute;
  top: -50px;
  right: -50px;
}
.popup .popup__inner {
  display: flex;
  justify-content: space-between;
}
.popup .popup__img {
  min-width: 500px;
  height: 500px;
  display: inline-block;
}
.popup .popup__content {
  margin: 50px 20px 88px 30px;
}

@keyframes appear {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes disappear {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    transform: translate(-50%, -50%) scale(0);
  }
}
footer > div {
  background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(at left, #513d2f, #1a1a1c);
  padding: 40px 40px 0;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1279px) {
  footer > div {
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 30px 0;
  }
}
@media screen and (max-width: 767px) {
  footer > div {
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 29px 10px 0;
    text-align: center;
    align-items: center;
  }
}
footer > div .contacts,
footer > div .locations {
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 16px 0 60px;
}
@media screen and (max-width: 1279px) {
  footer > div .contacts,
footer > div .locations {
    margin: 0 30px 65px;
  }
}
@media screen and (max-width: 767px) {
  footer > div .contacts,
footer > div .locations {
    margin: 0;
    margin-bottom: 40px;
    height: fit-content;
    width: 300px;
  }
}
footer > div .contacts h3,
footer > div .locations h3 {
  font-family: Georgia, Verdana, serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 400;
  color: #fff;
}
@media screen and (max-width: 767px) {
  footer > div .contacts h3 br,
footer > div .locations h3 br {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  footer > div .contacts h3,
footer > div .locations h3 {
    font-family: Georgia, Verdana, serif;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    justify-content: center;
    padding: 0 15px;
  }
}
footer > div .contacts div a,
footer > div .locations div a {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1279px) {
  footer > div .contacts div a,
footer > div .locations div a {
    padding-top: 33px;
  }
}
@media screen and (max-width: 767px) {
  footer > div .contacts div a,
footer > div .locations div a {
    justify-content: center;
    padding-top: 40px;
  }
}
footer > div .contacts div a img,
footer > div .locations div a img {
  width: 40px;
}
footer > div .contacts div a h4,
footer > div .locations div a h4 {
  font-family: Georgia, Verdana, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  padding-left: 20px;
  align-self: center;
}
footer > div .contacts .boston a img,
footer > div .contacts .london a img,
footer > div .locations .boston a img,
footer > div .locations .london a img {
  width: 22px;
  height: 32px;
}
@media screen and (max-width: 767px) {
  footer > div .contacts .boston,
footer > div .contacts .london,
footer > div .locations .boston,
footer > div .locations .london {
    text-align: start;
    align-self: flex-start;
  }
}
footer > div > img {
  width: 300px;
  height: 310px;
}
@media screen and (max-width: 767px) {
  footer > div > img {
    width: 260px;
    height: 269px;
  }
}

header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 60px 40px 0;
}
@media screen and (max-width: 1279px) {
  header {
    padding: 30px 30px 0;
  }
}
@media screen and (max-width: 767px) {
  header {
    padding: 30px 10px 0;
  }
}
header .logo.active-menu {
  visibility: hidden;
}
header .logo .title {
  font-family: Georgia, Verdana, serif;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 400;
  color: #f1cdb3;
  vertical-align: middle;
}
header .logo .subtitle {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  vertical-align: center;
  padding-top: 10px;
  padding-left: 4px;
}
header .menu-icon {
  display: none;
}
@media screen and (max-width: 767px) {
  header .menu-icon {
    display: block;
    height: 22px;
    width: 30px;
    margin-right: 43px;
    background: linear-gradient(to bottom, #f1cdb3 0%, #f1cdb3 9%, transparent 9%, transparent 45.5%, #f1cdb3 45.5%, #f1cdb3 54.5%, transparent 54.5%, transparent 91%, #f1cdb3 91%, #f1cdb3 100%);
    position: relative;
    z-index: 1000;
  }
}
header .nav-menu {
  width: 443px;
  display: flex;
  align-items: center;
}
header .nav-menu .nav-top {
  display: none;
}
header .nav-menu ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header .nav-menu ul li a {
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 160%;
  font-style: normal;
  font-weight: normal;
  color: #4c4c4c;
  color: #cdcdcd;
}
header .nav-menu ul li a:hover {
  color: #fafafa;
  cursor: pointer;
}
header .nav-menu ul li .current-link {
  color: #fafafa;
  position: relative;
}
header .nav-menu ul li .current-link:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #f1cdb3;
}
@media screen and (max-width: 767px) {
  header .nav-menu {
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 320px;
    background-color: #292929;
    z-index: 999;
    transform: translateX(500px);
  }
  header .nav-menu .nav-top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 0 0 10px;
    margin-bottom: 158px;
    width: 100%;
  }
  header .nav-menu .nav-top .logo {
    margin-right: 43px;
  }
  header .nav-menu .nav-top .logo .title {
    color: #f1cdb3;
  }
  header .nav-menu .nav-top .logo .subtitle {
    color: #fff;
  }
  header .nav-menu .nav-top .menu-icon {
    margin-right: 0;
  }
  header .nav-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .nav-menu ul li {
    margin-bottom: 40px;
  }
  header .nav-menu ul li a {
    font-size: 32px;
  }
}

.burger.animated {
  animation: 1s ease-in rotate-backwards forwards;
}

.menu-icon.active-menu {
  animation: 1s ease-in rotate-forwards forwards;
}

.nav-menu.animated {
  animation: 1s ease-out slideout forwards;
}

.nav-menu.active-menu {
  animation: 1s ease-out slidein forwards;
}

@keyframes rotate-forwards {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes rotate-backwards {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes slidein {
  from {
    transform: translate(500px);
  }
  to {
    transform: translate(0);
  }
}
@keyframes slideout {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(500px);
  }
}
* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body.active-menu {
  overflow-y: hidden;
}
body.opened-popup {
  overflow-y: hidden;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(41, 41, 41, 0.6);
  z-index: 9;
}

body.active-menu .overlay,
body.opened-popup .overlay {
  background-color: rgba(41, 41, 41, 0.6);
  display: block;
}

.wrapper {
  position: relative;
  width: 1280px;
  margin: auto;
}
@media screen and (max-width: 1279px) {
  .wrapper {
    width: 100%;
  }
}

body {
  background-color: #5b483a;
}

/*# sourceMappingURL=main.css.map */
