@mixin text-style(
  $font-family,
  $font-size,
  $font-weight: 400,
  $line-height: auto,
  $letter-spacing: 0px
) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

@mixin button() {
  font-family: $font-georgia;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 400;
  color: $color-dark-3xl;
  border-radius: 100px;
  padding: 15px 45px;
}

@mixin button-arrow() {
  border-radius: 100px;
  padding: 23px 19px;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-dark-3xl;
  border: 2px solid $color-primary;
}

@mixin light-button-hover() {
  border-color: $color-primary-light;
  background-color: $color-primary-light;
  cursor: pointer;
}

@mixin dark-button-hover() {
  background-color: $color-primary-light;
  cursor: pointer;
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin flex-row-center() {
  display: flex;
  justify-content: center;
}

@mixin h2() {
  font-family: 'Georgia';
  font-size: 44px;
  line-height: 130%;
  font-style: normal;
  font-weight: 400;
}

@mixin h3() {
  font-family: $font-georgia;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 400;
}

@mixin h4() {
  font-family: $font-georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

@mixin h5() {
  font-family: $font-georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

@mixin paragraph-l() {
  font-family: $font-arial;
  font-size: 15px;
  line-height: 160%;
  font-style: normal;
  font-weight: normal;
}

@mixin logo_title() {
  font-family: $font-georgia;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 400;
}

@mixin logo_subtitle() {
  font-family: $font-arial;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  font-style: normal;
  font-weight: 400;
}
