@mixin text-style($font-family, $font-size, $font-weight: 400, $line-height: auto, $letter-spacing: 0px){
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}