$color-light-xl: #fff;
$color-light-l: #f6f6f6;
$color-light-s: #fafafa;
$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-2xl: #444;
$color-dark-3xl: #292929;
$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$start-screen-gradient-background: #5b483a;
$footer-gradient-background: #211f20;

$background-color: #e5e5e5;

$font-georgia: Georgia, Verdana, serif;
$font-arial: Arial, sans-serif;

$padding: 40px;
