.about {
  div {
    margin: 80px 40px 101px;
    display: flex;
    img {
      width: 300px;
      height: 408px;
      margin-left: 175px;
      // margin-bottom: 1px;
    }

    div {
      display: flex;
      flex-direction: column;
      width: 430px;
      height: 380px;
      margin: 14px 175px 13px 120px;
      h3 {
        @include h3();
        color: $color-dark-l;
        padding-right: 60px;
      }
      p {
        @include paragraph-l();
        color: $color-dark-xl;
        margin-top: 25px;
      }
    }
  }
}
