.about {
  background-color: white;
  & > div {
    padding: 80px $padding 101px;
    display: flex;
    justify-content: center;
    img {
      width: 300px;
      height: 408px;
      // margin-bottom: 1px;
    }
    div {
      display: flex;
      flex-direction: column;
      width: 430px;
      margin-left: 120px;
      h3 {
        @include h3();
        color: $color-dark-l;
      }
      p {
        @include paragraph-l();
        color: $color-dark-xl;
        margin-top: 25px;
      }
    }
  }
}
