.help {
  background-color: white;
  .help-content {
    padding: 80px $padding 45px;
    h3 {
      @include h3();
      text-align: center;
      color: $color-dark-l;
    }
    ul {
      margin-top: 60px;
      @include flex-row-center();
      flex-wrap: wrap;
      text-align: center;
      li {
        margin: 0 60px 55px;
        img {
          width: 60px;
          height: 60px;
        }
        h4 {
          @include h4();
          padding-top: 30px;
        }
      }
    }
  }
}
