.pet-card {
  @include flex-column();
  background-color: $color-light-s;
  &:hover {
    background-color: $color-light-xl;
    cursor: pointer;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  }
  img {
    width: 270px;
    height: 270px;
    border-radius: 9px 9px 0px 0px;
  }
  p {
    margin: 30px 0;
    font-family: $font-georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
  }
  button {
    @include button();
    margin: 0 41.5px 30px;
    border: 2px solid $color-primary;
    background-color: transparent;
    white-space: nowrap;
    padding: 13px 43px;
  }
  &:hover > button {
    @include light-button-hover();
  }
}
