.pets {
  font-family: $font-georgia;
  background-color: $color-light-l;
  & > div {
    padding: 80px $padding 0;
    text-align: center;
    h3 {
      @include h3();
      color: $color-dark-l;
    }
    div {
      margin: 60px 0;
      display: flex;
      .button-arrow {
        border: 2px solid $color-primary;
        border-radius: 100px;
        // transform: rotate(-180deg);
        padding: 23px 19px;
        width: 52px;
        height: 52px;
        align-self: center;
        color: $color-dark-3xl;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          border: none;
          background-color: $color-primary-light;
        }
      }
      .right {
        margin-right: 8px;
      }
      .left {
        margin-left: 8px;
      }
      div {
        display: flex;
        flex-direction: column;
        background-color: $color-light-s;
        margin: 0 45px;
        &:hover {
          background-color: $color-light-xl;
          cursor: pointer;
        }
        img {
          width: 270px;
          height: 270px;
          border-radius: 9px 9px 0px 0px;
        }
        p {
          margin: 30px 0;
          font-size: 20px;
          line-height: 22.72px;
          letter-spacing: 0.06em;
        }
        button {
          @include button();
          margin-bottom: 30px;
          border: 2px solid $color-primary;
          background-color: transparent;
        }
        &:hover > button {
          background-color: $color-primary-light;
          border: none;
        }
      }
    }
    a[type='button'] {
      display: inline-block;
      @include button();
      background-color: $color-primary;
      margin-bottom: 100px;
      &:hover {
        background-color: $color-primary-light;
        cursor: pointer;
      }
    }
  }
}
