.pets {
  font-family: $font-georgia;
  background-color: $color-light-l;
  & > div {
    padding: 80px $padding 0;
    text-align: center;
    h3 {
      @include h3();
      color: $color-dark-l;
    }
    & > div {
      margin: 60px 0;
      display: flex;
      .button-arrow {
        @include button-arrow();
        align-self: center;
        background-color: transparent;
        &:hover {
          @include light-button-hover();
        }
      }
      .right {
        margin-right: 8px;
      }
      .left {
        margin-left: 8px;
      }
    }
    a[type='button'] {
      display: inline-block;
      @include button();
      background-color: $color-primary;
      margin-bottom: 100px;
      &:hover {
        @include dark-button-hover;
      }
    }
  }
}
