main {
  padding: 0 $padding;
  & > div {
    margin: 80px 0 100px;
    text-align: center;
    h3 {
      @include h3();
      color: $color-dark-l;
    }
    .pet-container {
      margin: 60px 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 30px 40px;
    }
    .pagination {
      @include flex-row-center();
      align-items: center;
      .button-pagination {
        @include button-arrow;
        margin: 0 10px;
        @include h4();
        background-color: inherit;
      }
      .page {
        background-color: $color-primary;
      }
      .disabled {
        border-color: $color-dark-s;
        color: $color-dark-s;
      }
      .active {
        &:hover {
          @include light-button-hover();
        }
      }
    }
  }
}
