.start-screen {
  background: url('../../assets/images/noise_transparent@2x.png'),
    radial-gradient(at top left, #5b483a, #262425);
  div {
    padding: 180px $padding-1280 0;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1279px) {
      padding: 150px $padding-768 0;
      flex-direction: column;
    }
    @media screen and (max-width: 767px) {
      padding-right: $padding-320;
      padding-left: $padding-320;
      text-align: center;
    }
    .content {
      @include flex-column();
      background-color: transparent;
      padding: 0;
      margin-top: 163px;
      width: 460px;
      align-self: flex-start;
      @media screen and (max-width: 1279px) {
        margin-top: 0;
        align-self: center;
        justify-content: center;
      }
      @media screen and (max-width: 767px) {
        width: 100%;
      }
      h2 {
        @include h2();
        color: $color-light-xl;
        @media screen and (max-width: 767px) {
          @include h3-mobile();
        }
      }
      p {
        @include paragraph-l();
        color: $color-dark-s;
        margin: 42px 0;
      }
      a[type='button'] {
        display: inline-block;
        @include button();
        background-color: $color-primary;
        align-self: flex-start;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        &:hover {
          @include dark-button-hover();
        }
        @media screen and (max-width: 1279px) {
          align-self: center;
        }
      }
    }
    img {
      width: 698px;
      height: 728px;
      margin-left: 42px;
      @media screen and (max-width: 1279px) {
        width: 569px;
        height: 593px;
        align-self: flex-end;
        margin: 0;
        margin-top: 99px;
      }
      @media screen and (max-width: 767px) {
        width: 260px;
        height: 271.77px;
        margin-top: 104px;
      }
    }
  }
}
