.start-screen {
  background: url('../../assets/images/noise_transparent@2x.png'),
    radial-gradient(at top left, #5b483a, #262425);
  div {
    padding: 180px $padding 0;
    display: flex;
    .content {
      display: flex;
      flex-direction: column;
      background-color: transparent;
      padding: 0;
      margin-top: 163px;
      margin-right: 42px;
      h2 {
        @include h2();
        color: $color-light-xl;
        padding-right: 150px;
      }
      p {
        @include paragraph-l();
        color: $color-dark-s;
        margin: 42px 0;
      }
      a[type='button'] {
        display: inline-block;
        @include button();
        background-color: $color-primary;
        align-self: flex-start;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        &:hover {
          background-color: $color-primary-light;
          cursor: pointer;
        }
      }
    }
    img {
      height: 100%;
    }
  }
}
