@import '../abstracts/fonts';
@import '../abstracts/mixin';
@import '../abstracts/variables';
@import '../components/pet-card.scss';
@import '../components/pets-page.scss';
@import '../components/popup.scss';
@import '../layout/footer';
@import '../layout/wrapper';
@import '../layout/header';

body {
  background-color: $color-light-l;
}

header {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  position: sticky;

  @media screen and (max-width: 767px) {
    padding: 30px 10px;

    &.active-menu {
      position: static;
    }
  }
  .menu-icon {
    @media screen and (max-width: 767px) {
      background: linear-gradient(
        to bottom,
        #000 0%,
        #000 9%,
        transparent 9%,
        transparent 45.5%,
        #000 45.5%,
        #000 54.5%,
        transparent 54.5%,
        transparent 91%,
        #000 91%,
        #000 100%
      );

      &.active-menu {
        background: linear-gradient(
          to bottom,
          $color-primary 0%,
          $color-primary 9%,
          transparent 9%,
          transparent 45.5%,
          $color-primary 45.5%,
          $color-primary 54.5%,
          transparent 54.5%,
          transparent 91%,
          $color-primary 91%,
          $color-primary 100%
        );
      }
    }
  }
  .logo {
    .title,
    .subtitle {
      color: $color-dark-l;
    }
  }
  .nav-menu {
    ul {
      li {
        a {
          color: $color-dark-l;
          &:hover {
            color: $color-dark-3xl;
          }
        }
        .current-link {
          color: $color-dark-l;
        }
      }
    }

    &.active-menu {
      ul {
        li {
          a {
            color: $color-dark-s;
            &:hover {
              color: $color-light-s;
            }
          }
          .current-link {
            color: $color-light-s;
          }
        }
      }
    }
  }
}
