@import '../abstracts/fonts';
@import '../abstracts/mixin';
@import '../abstracts/variables';
@import '../components/pet-card.scss';
@import '../components/pets-page.scss';
@import '../layout/footer';
@import '../layout/header';
@import '../layout/wrapper';

body {
  background-color: $color-light-l;
}

header {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  position: sticky;
  .logo {
    .title,
    .subtitle {
      color: $color-dark-l;
    }
  }
  .nav-menu {
    ul {
      li {
        a {
          color: $color-dark-l;
          &:hover {
            color: $color-dark-3xl;
          }
        }
        .current-link {
          color: $color-dark-l;
        }
      }
    }
  }
}
